<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', { title: 'Login' , currentPage: 'login' }) %>

  <body>
    <%- include('partials/header') %>

      <main class="home-container py-5 login">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <form action="/login" method="POST" class="bg-dark text-light p-4 rounded shadow login-form">
              <h2 class="mb-4 text-center">Bem-Vindo de volta!</h2>

              <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" name="email" id="email" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" name="senha" id="senha" class="form-control" required>
              </div>

              <button type="submit" class="btn btn-primary w-100">Entrar</button>

              <div class="mt-3 text-center">
                <small>Não tem uma conta? <a href="/register" class="text-info">Cadastre-se</a></small>
              </div>
            </form>
          </div>
        </div>
      </main>
  </body>

</html>