<%- include('partials/head', { 
    title: 'Settings',
    currentPage: 'settings'}) %>
        <h1>Página de configurações pessoais e perfil</h1>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Conteúdo Principal</h5>
                <p class="card-text">Texto de exemplo</p>
            </div>
        </div>